<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target xsi:type="File" name="allfile" fileName="c:\temp\nlog-AspNetCore-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

		<target xsi:type="File" name="ownFile-web" fileName="c:\temp\nlog-AspNetCore-own-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}" />

		<target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />

		<target name="database" xsi:type="Database" connectionString="Server=.;Initial Catalog=QuickLoan;Trusted_Connection=True;MultipleActiveResultSets=True;TrustServerCertificate=True;">

			<commandText>
				insert into dbo.Logs
				(LogLevel,Trace,Message,RequestData,Path,HttpStatusCode,RequestHeader,Created)
				values
				(@LogLevel,@trace,@Message,@requestData,@path,@httpStatusCode,@requestHeader,@created);
			</commandText>

			<parameter name="@LogLevel" layout="${level}" />
			<parameter name="@Message" layout="${event-properties:message}" />
			<parameter name="@created"  layout="${date}" />
			<parameter name="@trace" layout="${event-properties:stackTrace}" />
			<parameter name="@requestHeader" layout="${event-properties:requestHeader}" />
			<parameter name="@requestData" layout="${event-properties:bodyJson}" />
			<parameter name="@path" layout="${event-properties:requestPath}" />
			<parameter name="@httpStatusCode" layout="${event-properties:httpStatusCode}" />
		</target>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" minlevel="Trace" writeTo="allfile" />
		<logger name="*" minlevel="Trace" writeTo="database" />
		<logger name="*" minlevel="Info" writeTo="database" />
		<logger name="*" minlevel="Error" writeTo="database" />
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, ownFile-web" final="true" />
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />
		<logger name="*" minlevel="Trace" writeTo="ownFile-web" />
	</rules>
</nlog>